@using CogentAgent.Web.Components.Pages.Chat
@using CogentAgent.Web.Models
@using Microsoft.Agents.AI
@using System.ComponentModel
@using Microsoft.Agents.AI.Workflows

@inject CogentGame Game
@inject SemanticSearch Search
@inject IServiceProvider ServiceProvider

<PageTitle>Game Chat</PageTitle>

<div class="right-pane visible">
    <div class="game-info-header">
        @if (Game is not null)
        {
            <div class="game-info-header">
                <h2>@Game.Title</h2>
                <p class="setting">@Game.Setting</p>

                <div class="status">
                    <strong>Status:</strong> @Game.Status
                </div>

                <div>
                    @foreach (var player in Game.Players)
                    {
                        <div class="character">
                            <strong>Character:</strong> @player.Name
                        </div>
                    }
                </div>

                @if (Game.CurrentScene is not null)
                {
                    <div class="scene">
                        <strong>Scene:</strong> @Game.CurrentScene.Title<br />
                        <span class="scene-description">@Game.CurrentScene.Description</span>
                    </div>
                }
            </div>
        }
    </div>

    <div class="scrollable-content">
        <ChatMessageList Messages="@messages" InProgressMessage="@currentResponseMessage">
            <NoMessagesContent />
        </ChatMessageList>
    </div>

    <div class="chat-container">
        <ChatInput OnSend="@AddUserMessageAsync" @ref="@chatInput" />
    </div>
</div>

@code {
    private readonly List<ChatMessage> messages = new();
    private ChatMessage? currentResponseMessage;
    private CancellationTokenSource? currentResponseCancellation;
    private ChatInput? chatInput;

    private AIAgent dmAgent;
    private AgentThread agentThread;

    protected override async Task OnInitializedAsync()
    {
        dmAgent = ServiceProvider.GetRequiredKeyedService<AIAgent>("DungeonMaster");

        agentThread = dmAgent.GetNewThread();

        // Start the game with an initial scene
        var result = await dmAgent.RunAsync(agentThread);

        messages.AddMessages(result.AsChatResponse());
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        CancelAnyCurrentResponse();

        // Add the user message to the conversation
        messages.Add(userMessage);
        //chatSuggestions?.Clear();
        await chatInput!.FocusAsync();

        // Stream and display a new response from the Agent AI
        var responseText = new TextContent("");
        currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        currentResponseCancellation = new();
        await foreach (var update in dmAgent.RunStreamingAsync(userMessage, agentThread, cancellationToken: currentResponseCancellation.Token))
        {
            messages.AddMessages(update.AsChatResponseUpdate(), filter: c => c is not TextContent);
            responseText.Text += update.Text;
            ChatMessageItem.NotifyChanged(currentResponseMessage);
        }

        // Store the final response in the conversation, and begin getting suggestions
        messages.Add(currentResponseMessage!);
        currentResponseMessage = null;
    }

    private void CancelAnyCurrentResponse()
    {
        // If a response was cancelled while streaming, include it in the conversation so it's not lost
        if (currentResponseMessage is not null)
        {
            messages.Add(currentResponseMessage);
        }

        currentResponseCancellation?.Cancel();
        currentResponseMessage = null;
    }

    private async Task ResetConversationAsync()
    {
        CancelAnyCurrentResponse();
        messages.Clear();
        messages.Add(new(ChatRole.System, Prompts.DM_INSTRUCTIONS));
        await chatInput!.FocusAsync();
    }

    public void Dispose()
        => currentResponseCancellation?.Cancel();
}
